<h2 mat-dialog-title>{{'DeleteModalTitle' | translate}}</h2>

<mat-dialog-content class="modalContent" [formGroup]="form">
  
    <mat-form-field class="form-field description">
        <mat-label>{{'Description' | translate}}</mat-label>
        <textarea matInput formControlName="description" readonly="readonly" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
    </mat-form-field>

    <mat-form-field class="form-field value">
        <mat-label>{{'Value' | translate}}</mat-label>
        <input matInput formControlName="value" readonly="readonly"/>
    </mat-form-field>

    <mat-form-field class="form-field currency">
        <mat-label>{{'Currency' | translate}}</mat-label>
        <input matInput formControlName="currency" readonly="readonly"/>     
    </mat-form-field>

    <mat-dialog-actions class="modalButtons">
        <button mat-raised-button class="delete" (click)="delete()">{{'Delete' | translate}}</button>
        <button mat-raised-button class="cancel" (click)="cancel()">{{'Cancel' | translate}}</button>
    </mat-dialog-actions>
    
</mat-dialog-content>

