<div class="header-container">
  <div class="header-wrapper">
    <div id="languageDropDown">
    <mat-form-field id="languageSelector">
      <mat-select [(ngModel)]="language" name="languageSelector" id="languageSelector" (selectionChange)="languageChanged()">
        <mat-option value="en" selected="selected" >EN</mat-option>
        <mat-option value="ua">UA</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    <ul class="header-container__routes">
      <li class="header-container__routes--item"><a [routerLink]="['']">{{'Home' | translate}}</a></li>
      <li class="header-container__routes--item"><a [routerLink]="['/currency_rates']">{{'CurrencyRates' | translate}}</a></li>
    </ul>
  </div>
  <div class="contentHeading">
      <p class="name">{{'Title' | translate}}</p>
      <div class="value__container">
        <p class="value" *ngFor="let item of moneyLeft">{{item.value | currency : item.currency}}</p>    
      </div>
  </div>

  <div class="separateBlocks">
    <div class="income">
      <p class="name">
          {{'Income' | translate}}
      </p>
      <div class="value__container">
        <p class="value" *ngFor="let item of totalIncome">
          {{item.value | currency : item.currency}} 
       </p>
      </div>
    </div>
    <div class="expenses">
        <p class="name">
            {{'Expense' | translate}}
          </p>
          <div class="value__container">
            <p class="value" *ngFor="let item of totalExpenses">
              {{item.value | currency : item.currency}} 
            </p>
          </div>
        </div>
    </div>
  </div>