<div class="header-container">
  <select [(ngModel)]="language" name="languageSelector" id="languageSelector" (change)="languageChanged()">
    <option value="en" selected="selected" >EN</option>
    <option value="ua">UA</option>
  </select>
  <div class="contentHeading">
      <p class="name">{{'Title' | translate}}</p>
      <p class="value">{{totalIncome - totalExpenses}}</p>    
  </div>

  <div class="separateBlocks">
    <div class="income">
      <p class="name">
          {{'Income' | translate}}
      </p>
      <p class="value">
        + {{totalIncome}}
      </p>
    </div>
    <div class="expenses">
        <p class="name">
            {{'Expense' | translate}}
          </p>
          <p class="value">
            - {{totalExpenses}}
          </p>
        </div>
    </div>
  </div>