.mat-select-value{
    color: #fff !important;
}

.header-container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: auto;
    min-height: 350px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('back.jpg');
    padding-bottom: 20px;

    p{
        color: #fff;
        text-align: center;
    }

    .header-wrapper{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        #languageDropDown{
            margin-left: 25px;
            color: #fff !important;
            #languageSelector{
                // border: 1px solid #ccc;
                // border-radius: 3px;
                width: 50px;
                color: #fff !important;
        
                &:focus{
                    outline: none;
                }
    
                .languageSelector__item{
                    color: #fff !important;
                }
            }

            &:span{
                color: #fff !important;
            }
        }

        .header-container__routes{
            display: inline;
            margin: 0;
            .header-container__routes--item{
                display: inline-block;
                width: auto;
                padding: 5px 10px;
                margin: 17px;
                border-bottom: 1px solid lightgrey;
                
                &:hover{
                    border-bottom: 1px solid grey;
                }

                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    .contentHeading{
        margin: 0 auto;
        padding-top: 30px;
        .name{
            font-size: 35px;
        }
        .value__container{
            margin: 20px 10%;
            display: flex;
            flex-wrap: wrap;
            flex-flow: row;
            justify-content: space-around;
            .value{
                font-size: 45px;
            }
        }
    }
}

.separateBlocks{
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
    min-width: 150px;
    .income{
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 15px;
        padding: 15px 0;
        background-color: #80ba2a;
        
        /*use further for vertical centring*/
        /*line-height: px;*/
        .name{
            padding: 0 10px;
            font-weight: bold;
        }
        .value__container{
            display: flex;
            flex-wrap: wrap;
            flex-flow: row;
            justify-content: center;
            .value{
                padding: 0 10px;
            }
        }
    }
    .expenses{
        .income;
        background-color: #ba332a;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 680px) {
    .header-container{
        height: auto;
        padding-bottom: 20px;
    }

    .separateBlocks{
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        .income{
            flex-flow: column;
            height: 150px;
            width: auto;
            min-width: 110px;
            .name{
                padding: 0 10px;
                font-weight: bold;
            }
            .value__container{
                height: 80%;
                display: flex;
                flex-wrap: wrap;
                flex-flow: column;
                justify-content: space-around;
                .value{
                    padding: 2px 5px;
                }
            }
        }
        .expenses{
            .income;
            background-color: #ba332a;
            margin: 0;
        }
    }
} 

@media only screen and (max-width: 1000px) {
    .header-container{  
        .contentHeading{
            margin: 0 auto;
            padding-top: 30px;
            .name{
                font-size: 35px;
            }
            .value__container{
                display: flex;
                flex-wrap: wrap;
                flex-flow: column;
                justify-content: center;
                .value{
                    font-size: 45px;
                }
            }
        }
    }
}

@media only screen and (max-width: 380px) {
    .header-container{  
        .contentHeading{
            .value__container{
                .value{
                    font-size: 11vw;
                }
            }
        }
    }
}