<div class="header-container">
  <div class="contentHeading">
      <p class="name">Current Available Budget</p>
      <p class="value">{{totalIncome - totalExpenses}}</p>    
  </div>

  <div class="separateBlocks">
    <div class="income">
      <p class="name">
        INCOME
      </p>
      <p class="value">
        + {{totalIncome}}
      </p>
    </div>
    <div class="expenses">
        <p class="name">
            EXPENSES
          </p>
          <p class="value">
            - {{totalExpenses}}
          </p>
        </div>
    </div>
  </div>