<div class="expense-list-container">
  <div class="content">
    <div class="income">
      <p class="name">{{'Income' | translate}}</p>
        <app-financial-list 
          [financialList] = "inspectionLists.income"
          [listType] = "income"
          [color] = "colors.income">
        </app-financial-list>
    </div>
    <div class="expenses">
      <p class="name">{{'Expense' | translate}}</p>
        <app-financial-list 
        [financialList] = "inspectionLists.expense" 
        [listType] = "expense"
        [color] = "colors.expense">
    </app-financial-list>
    </div>  
  </div>
</div>
