<div class="add-expense-container">
  <div class="content">
    <form [formGroup]="itemAddForm" action="" class="financialForm" name="financialForm" (ngSubmit)="addItem(itemAddForm.value)">
      <select formControlName="currency" name="currency" id="currency">
        <option *ngFor="let currency of financialData.currencyArray" [value]="currency">{{currency}}</option>
      </select>
      <select formControlName="sign" name="income-expense" id="" class="income-expense">
        <option selected value="income">+</option>
        <option value="expense">-</option>
      </select>
      <input formControlName = "value" name="valueInput" type="number" placeholder="{{'ValuePlaceholder' | translate}}" id="value"/>
      <input formControlName = "description" name="descriptionInput" type="text" placeholder="{{'DescriptionPlaceholder' | translate}}" id="description"/>
      <button type="submit" class="invisibleSubmit"></button>
      <i class="far fa-check-circle" id="add-btn" (click)="addItem(itemAddForm.value)"></i>
  </form>
</div>
</div>